<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartpocket.cuantoteroban"
    android:installLocation="auto"
    android:versionCode="23"
    android:versionName="4.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="21" />
    <!-- 10 ; 15 -->

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/CuantoTeRobanTheme" >
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartpocket.cuantoteroban.preferences.PreferencesActivity"
            android:label="@string/application_preferences"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.smartpocket.cuantoteroban.preferences.PreferencesActivityForCurrency"
            android:label="@string/application_preferences"
            android:parentActivityName="com.smartpocket.cuantoteroban.preferences.PreferencesActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartpocket.cuantoteroban.preferences.PreferencesActivity" />
        </activity>
        <activity
            android:name=".calc.Calculator"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddCurrency"
            android:label="@string/title_activity_add_currency"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".CurrencySuggestionProvider"
            android:authorities="com.smartpocket.cuantoteroban.CurrencySuggestionProvider"
            android:exported="false" >
        </provider>

        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help_activity"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>